<div class="container">
    <h2>Create Quizz</h2>

    <div class="form-group"><input type="text" [(ngModel)]="quizz.title" name="quizz_title" class="form-control" placeholder="Enter quizz name"/></div>

    <div *ngFor="let q of quizz.questions; let i = index" class="question-box">
        <h4>question {{ i + 1 }}</h4>

        <div class="form-group mb-3">
            <quill-editor
                class="content-editor"
                [placeholder]="''"
                [modules]="QuillConfiguration"
                [(ngModel)]="q.title"
                name="question_{{ i }}"
            ></quill-editor>
        </div>
        <div *ngFor="let o of q.options; let j = index" class="option-box">
            <input
                type="radio"
                [checked]="o.is_correct"
                name="question_{{ i }}"
                (change)="setCorrectAnswer(q, j)"
                class="form-check-input"
            />
            <quill-editor
                class="content-editor"
                [placeholder]="''"
                [modules]="QuillConfiguration"
                [(ngModel)]="o.title"
                name="option_{{ i }}_{{ j }}"
            ></quill-editor>
        </div>
    </div>

    <div class="button-group">
        <button class="btn btn-primary" (click)="addQuestion()">
            add question
        </button>
        <button class="btn btn-success" (click)="submit()">submit</button>
    </div>
</div>
